/* GLOBAL */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #FBF6E9;
}

/* TOP BAR */
.topbar {
  height: 70px;
  background: #111827;
  display: flex;
  align-items: center;
  padding: 0 30px;
  color: white;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.5px;
}

/* PAGE WRAPPER */
.page {
  padding: 40px;
}

/* HEADINGS */
.page-heading {
  background: #111827;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  margin-bottom: 30px;
}

/* NORMAL TEXT */
.text-black {
  color: #111827;
}

/* CARD */
.card {
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.08);
}